<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Editar Pelicula", edit_movie_path(@movie) %> |
  <%= link_to "Volver", movies_path %>

  <%= button_to "Eliminar Pelicula", @movie, method: :delete %>
  
</div>
