<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Editar este clientes", edit_client_path(@client) %> |
  <%= link_to "Volver a clientes", clients_path %>

  <%= button_to "Eliminar este cliente", @client, method: :delete %>
</div>
